*{
    align-items: center;
    text-align: center;
    background-color: rgb(28, 148, 48);
}
.insta{
    width: 18px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.insta:hover{
    transform: scale(2.5);
}
.fb{
    width: 18px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.fb:hover{
    transform: scale(2.5);
}